[DEFAULT]
INCLUDE_INDELS=True
GENE_REGION_NAME=None
GENE_REGION_BASE1=False
GENE_COL_STR=1,2,0
COMPRESS_INPUT_VCF=False
SUBSAMP_LIST=None
SUBSAMP_NUMBER=None



[vcf_from_region]
#o1: %(sv)s
vcfname: None
gene_str: None
genename: %(GENE_REGION_NAME)s
multi_out: False
indel_flag: %(INCLUDE_INDELS)s
gene_idx: %(GENE_REGION_BASE1)s
gene_col: %(GENE_COL_STR)s
compress_flag: %(COMPRESS_INPUT_VCF)s
subsamp_fn: %(SUBSAMP_LIST)s
subsamp_num: %(SUBSAMP_NUMBER)s
output: None

[vcf_ref_to_seq]
vcfname: None
refname: None
genename: None
#genename: %(GENE_REGION_NAME)s
gene_idx: %(GENE_REGION_BASE1)s
trim_seq: False
indel_flag: %(INCLUDE_INDELS)s
output_name: None
gene_col: %(GENE_COL_STR)s
compress_flag: %(COMPRESS_INPUT_VCF)s
subsamp_fn: %(SUBSAMP_LIST)s
subsamp_num: %(SUBSAMP_NUMBER)s
